@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-poppins: "Poppins", sans-serif;
    --padding-inline: 150px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-poppins);
}

body {
    background-color: white;
}

/* NAVBAR */

nav {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--padding-inline);
    z-index: 999;
}

/* NAVBAR LEFT */

.navbar-left {
    display: flex;
    align-items: center;
    column-gap: 55px;
}

.logo {
    display: flex;
}

.links {
    display: flex;
    column-gap: 20px;
}

.links > a {
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    font-weight: 700;
    transition: color 300ms;
}

.links > a:hover {
    color: hsl(260, 8%, 14%);
}

/* NAVBAR RIGHT */

.navbar-right {
    display: flex;
}

.access-buttons {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.access-buttons > button {
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.access-buttons > button:first-of-type {
    background-color: transparent;
    color: hsl(257, 7%, 63%);
}

.access-buttons > button:last-of-type {
    color: white;
    background-color: hsl(180, 66%, 49%);
    padding: 8px 20px;
    border-radius: 2rem;
    transition: background-color 300ms;
}

.access-buttons > button:last-of-type:hover {
    background-color: hsl(180, 62%, 43%);
}

/* MENU */

.menu {
    display: none;
}

.menu-itself {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menu-itself * {
    position: absolute;
}

.menu-itself-top,
.menu-itself-bottom {
    width: 100%;
    height: 3px;
    background-color: hsl(260, 8%, 14%);
    transition: transform 300ms;
}

.menu-itself-top {
    transform: translateY(-3px);
}

.menu-itself-bottom {
    transform: translateY(3px);
}

.menu-pop-up {
    position: fixed;
    width: 98%;
    left: calc(50% - 49%);
    top: 80px;
    background-color: hsl(257, 27%, 26%);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    row-gap: 10px;
}

.menu-pop-up > a {
    text-decoration: none;
}

.menu-pop-up-link {
    color: white;
    font-weight: 500;
}

.menu-pop-up > hr {
    width: 100%;
    border: 0;
    border-top: 1px solid hsl(257, 27%, 26%);
    border-bottom: 1px solid hsl(260, 7%, 45%);
}

.pop-up-login-btn {
    color: white;
    font-weight: 500;
}

.pop-up-sign-up-btn {
    width: 100%;
    height: 40px;
    background-color: hsl(180, 66%, 49%);
    border-radius: 2rem;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn-js > .menu-itself > .menu-itself-top {
    transform: translateY(0) rotateZ(40deg);
}

.menu-btn-js > .menu-itself > .menu-itself-bottom {
    transform: translateY(0) rotateZ(-40deg);
}

.menu-btn-js > .menu-pop-up {
    display: flex;
}

/* MAIN */

/* main {

} */

/* MAIN HEADER */

.main-header {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-header-left {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0;
}

.main-header-left > h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 95px;
    color: hsl(255, 11%, 22%);
}

.main-header-left > p {
    color: hsl(257, 7%, 63%);
    font-size: 1.2rem;
    font-weight: 500;
}

.main-header-left > button {
    margin-top: 30px;
    border: 0;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    width: max-content;
    color: white;
    background-color: hsl(180, 66%, 49%);
    padding: 12px 35px;
    border-radius: 2rem;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    transition: background-color 300ms;
}

.main-header-left > button:hover {
    background-color: hsl(180, 62%, 43%);
}

.main-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-right-svg {
    width: 100%;
}

/* SECOND SECTION */

.second-section {
    background-color: #f0f1f6;
    padding-inline: var(--padding-inline);
    padding-block: 130px 20px;
}

.input {
    display: flex;
    justify-content: center;
    position: relative;
}

.input-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    background: url(./images/bg-shorten-desktop.svg) no-repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    padding: 60px 80px;
    border-radius: 1rem;
    position: absolute;
    top: -215px;
}

.input-inner-input {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 15px;
}

.input-inner > div > input {
    height: 60px;
    padding-left: 30px;
    border-radius: 0.5rem;
    border: 0;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
}

.shorten-button {
    width: 150px;
    height: 60px;
    cursor: pointer;
    color: white;
    background-color: hsl(180, 66%, 49%);
    border: 0;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    transition: background-color 300ms;
}

.shorten-button:hover {
    background-color: hsl(180, 62%, 43%);
}

.error-message {
    transform: translateY(18px);
    font-style: italic;
    line-height: 0;
    color: hsl(0, 87%, 67%);
}

/* OUTPUT CONTAINER */

.output-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.output {
    background-color: white;
    padding-block: 18px;
    padding-inline: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.output-left {
    font-size: 1.2rem;
    color: hsl(260, 8%, 14%);
    font-weight: 500;
}

.output-right {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.output-right > span {
    color: hsl(180, 66%, 49%);
    font-size: 1.2rem;
    font-weight: 500;
}

.copy-button {
    border: 0;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: hsl(180, 66%, 49%);
    padding: 8px 30px;
    cursor: pointer;
    transition: background-color 300ms;
}

.copy-button:hover {
    background-color: hsl(180, 62%, 43%);
}

/* ADVANCED STATISTICS */

.advanced-statistics {
    padding-inline: var(--padding-inline);
    padding-block: 100px 170px;
    background-color: #f0f1f6;
}

.advanced-statistics-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.advanced-statistics-text > h2 {
    color: hsl(255, 11%, 22%);
    font-size: 2.5rem;
    font-weight: 700;
}

.advanced-statistics-text > p {
    color: hsl(257, 7%, 63%);
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}

.advanced-statistics-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    align-items: center;
}

.advanced-statistics-grid > fieldset:nth-of-type(2) {
    transform: translateY(30px);
}

.advanced-statistics-grid > fieldset:nth-of-type(3) {
    transform: translateY(60px);
}

.grid-advanced {
    width: 370px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.grid-advanced-label {
    background-color: hsl(257, 27%, 26%);
    padding: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-advanced > h2 {
    color: hsl(255, 11%, 22%);
    font-weight: 700;
}

.grid-advanced > p {
    color: hsl(257, 7%, 63%);
    font-weight: 500;
    line-height: 25px;
}

.grid-divider {
    border: 0;
    border-top: 5px solid hsl(180, 66%, 49%);
}

/* BOOST YOUR LINKS TODAY */

.boost-your-links-today {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 60px;
    background: url(./images/bg-boost-desktop.svg) no-repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
}

.boost-your-links-today > h2 {
    color: white;
    font-size: 2.5rem;
}

.boost-your-links-today > button {
    margin-top: 30px;
    border: 0;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    width: max-content;
    color: white;
    background-color: hsl(180, 66%, 49%);
    padding: 12px 35px;
    border-radius: 2rem;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    transition: background-color 300ms;
}

.boost-your-links-today > button:hover {
    background-color: hsl(180, 62%, 43%);
}

/* FOOTER */

footer {
    padding-block: 60px;
    background-color: hsl(260, 8%, 14%);
    padding-inline: var(--padding-inline);
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 80px;
}

.footer-links-inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-links-inner > h4 {
    color: white;
}

.footer-link-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.footer-link-container > a {
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    transition: color 300ms;
}

.footer-link-container > a:hover {
    color: hsl(180, 66%, 49%);
}

.social-icons {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: max-content;
}

.social-icons-link:hover .social-icons-link-svg {
    color: hsl(180, 66%, 49%);
}

.social-icons-link-svg {
    color: white;
    transition: color 300ms;
}

/* MEDIA QEURIES */

@media (max-width: 1450px) {
    .grid-advanced {
        width: 320px;
    }
}

@media (max-width: 1300px) {
    :root {
        --padding-inline: 100px;
    }
    .main-header-left {
        padding-left: 100px;
    }
}

@media (max-width: 1200px) {
    :root {
        --padding-inline: 60px;
    }
    .main-header-left {
        padding-left: 60px;
    }
}

@media (max-width: 1100px) {
    :root {
        --padding-inline: 30px;
    }
    .main-header-left {
        padding-left: 30px;
    }
    .grid-advanced {
        width: 300px;
    }
}

@media (max-width: 1007px) {
    .main-header-left > h1 {
        font-size: 3.5rem;
        line-height: 70px;
    }
    .advanced-statistics-grid {
        display: flex;
        flex-direction: column;
    }
    .advanced-statistics-grid > fieldset:nth-of-type(2),
    .advanced-statistics-grid > fieldset:nth-of-type(3) {
        transform: translateY(0);
    }
    .grid-advanced {
        width: 370px;
    }
    .grid-divider {
        height: 35px;
        border: 0;
        border-left: 5px solid hsl(180, 66%, 49%);
    }
    .grid-advanced-label {
        text-align: center;
    }
    .advanced-statistics {
        padding-block: 100px;
    }
}

@media (max-width: 890px) {
    .output {
        padding: 0 20px;
        flex-direction: column;
    }
    .output-left {
        width: 100%;
        padding-block: 16px;
        border-bottom: 1px solid hsl(260, 7%, 45%);
    }
    .output-right {
        width: 100%;
        padding-block: 10px;
        justify-content: space-between;
    }
    .main-header {
        padding-block: 70px 140px;
        min-height: auto;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 30px;
    }
    .main-header-left {
        display: flex;
        align-items: center;
        row-gap: 10px;
        padding-left: 0;
        padding-inline: var(--padding-inline);
    }
    .main-header-right {
        display: flex;
        justify-content: center;
    }
    .main-header-right-svg {
        width: max-content;
    }
    .main-header-left > button {
        margin-top: 10px;
    }
    .main-header-left > h1 {
        font-size: max(6vw, 2.2rem);
        text-align: center;
    }
    .main-header-left > p {
        text-align: center;
    }
    .menu {
        display: flex;
    }
    .links,
    .navbar-right {
        display: none;
    }
    nav {
        height: 65px;
    }
    .input-inner {
        padding: 60px;
    }
    footer {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}

@media (max-width: 700px) {
    .input-inner {
        padding: 60px 40px;
    }
    .grid-advanced {
        width: 100%;
    }
    .advanced-statistics-text > h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 40px;
    }
    .advanced-statistics-text > p {
        font-size: 1rem;
    }
    .advanced-statistics-text > p > br {
        display: none;
    }
    .boost-your-links-today > h2 {
        font-size: 2rem;
    }
    .advanced-statistics {
        padding-block: 50px 170px;
    }
}

@media (max-width: 600px) {
    .main-header-left > h1 {
        width: 80%;
        line-height: 50px;
        font-size: 2.5rem;
    }
    .input-inner-input {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .shorten-button {
        width: 100%;
    }
    .input-inner {
        top: -230px;
        padding: 30px;
    }
    .main-header {
        padding-block: 70px 160px;
    }
    .main-header-left > p {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .main-header-left > h1 {
        width: 100%;
    }
    .boost-your-links-today > h2 {
        font-size: 1.8rem;
        padding-inline: var(--padding-inline);
        text-align: center;
    }
    .output-right {
        flex-direction: column;
        row-gap: 10px;
        padding-block: 20px;
    }
    .copy-button {
        width: 100%;
    }
}

@media (max-width: 400px) {
    :root {
        --padding-inline: 20px;
    }
}